/* PIED DE PAGE*/

#actesExamensComplementairesPatients .search_init_mg{ 

	background-color: #fffffa; /*la couleur du champ*/

	height: 25px; /*la hauteur du champ input*/

	width: 100%;/*110px; /* la largeur du champ input*/
	
}


/* STYLE POUR LA LISTE DE SELECTION DE LA TABLE*/
#listeDataTable{
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: -10px;
}

#contenuListePatientTableau .dataTables_paginate *
{
	background: #e9e8e8;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 6px;
	padding-right: 6px;
    color: black;	
	/*margin-top: 100px;*/
	cursor: pointer;

}

#contenuListePatientTableau div .dataTables_paginate
{
	margin-bottom: 20px;
}

#contenuListePatientTableau .dataTables_paginate .first
{
	margin-right: 0px;
}

#contenuListePatientTableau .dataTables_paginate .last
{
	margin-left: 0px;
}

#contenuListePatientTableau .dataTables_paginate .previous
{
	margin-right: 2px;
	border-left: 1px solid #bdb9b9;
}

#contenuListePatientTableau .dataTables_paginate .next
{
	margin-left: 3px;
	border-right: 1px solid #bdb9b9;
}

#contenuListePatientTableau .dataTables_paginate a:hover
{
	text-decoration: none;
	background-color: #c3c1c1;
	color: white;
}

#contenuListePatientTableau .dataTables_paginate .paginate_active
{
	text-decoration: none;
	background-color: #b5b2b2;
	color: white;
}

#contenuListePatientTableau .liste_patient tr{
	background: #f5f5f5;
}

#contenuListePatientTableau .liste_patient tr:hover{
	background: #e4e4e4;
}


#photo, #modifier_photo  /*photo*/
{

width: 105px;

float: left;

border-top-width: 10px;

border-right-width: 10px;

border-right-width-ltr-source: physical;

border-right-width-rtl-source: physical;

border-bottom-width: 10px;

border-left-width: 10px;

border-left-width-ltr-source: physical;

border-left-width-rtl-source: physical;

border-top-style: solid;

border-right-style: solid;

border-right-style-ltr-source: physical;

border-right-style-rtl-source: physical;

border-bottom-style: solid;

border-left-style: solid;

border-left-style-ltr-source: physical;

border-left-style-rtl-source: physical;

border-top-color: white;

border-right-color: white;

border-right-color-ltr-source: physical;

border-right-color-rtl-source: physical;

border-bottom-color: white;

border-left-color: white;

border-left-color-ltr-source: physical;

border-left-color-rtl-source: physical;

box-shadow: 0pt 0pt 12px rgba(0, 0, 0, 0.2);

}

canvas {
   position: relative;
   background-color: #ffffff;
   background-image: none;
   background-repeat: repeat;
   background-attachment: scroll;
   background-position: 0% 0%;
   background-clip: border-box;
   background-origin: padding-box;
   background-size: auto auto;             
   box-shadow: #dddddd;
   padding-top: 0px;
   padding-right: 0px;
   padding-bottom: 0px;
   padding-left: 0px;
                      
   height: auto;
   width: auto;
             
}

/*****LA PHOTO*******/
        .photo_patient {
              position:relative;
              width:105px;
              height:105px;
              float: left;
              margin-right:40px;
              overflow:hidden;
              background:#dddddd url("../../images_icons/identite.png") no-repeat left top;
        }
  
        .photo_patient input {
              position:absolute;
              right:0;
              top:0;
              font-size:0px;
              opacity:0;
              -moz-opacity:0;
              filter:alpha(opacity=0);
              cursor:pointer;
              text-align:right; 
              width:105px;
              height:105px;
         }
         
/*-----STYLE FORMULAIRE ETAT CIVIL DU PATIENT-----*/
/*-----STYLE FORMULAIRE ETAT CIVIL DU PATIENT-----*/
/*-----STYLE FORMULAIRE ETAT CIVIL DU PATIENT-----*/

         

#contenuInfoPatientActesExamensComplementaire #barre_actes_examens
{
	width: 100%;
	padding-bottom:20px; /*Pour s�parer le contenu de la bordure du bas du bloc*/
	magin-bottom:15px; /*Pour s�parer la bordure du prochain �l�ment*/
	border-bottom: 3px solid gray;/*Pour faire un trait gris horizontal*/
	margin-top: -14px;
}

#titre_info_actes_examens
{
	font-family: times new roman;
	font-size: 20px;
	color: green;
}

#contenuInfoPatientActesExamensComplementaire table td 
{
	vertical-align: top;
}

#contenuInfoPatientActesExamensComplementaire table td p
{
	margin-right: 15px;
	max-height: 44px;
	max-width: 90%;
	overflow: auto;
}

#contenuInfoPatientActesExamensComplementaire #etat_civil{
	width: 70%;
}

#contenuInfoPatientActesExamensComplementaire #etat_civil tr{
	width: 70%;
}


#contenuInfoPatientActesExamensComplementaire tr:hover
{
	background: white;
}

#contenuInfoPatientActesExamensComplementaire a{
	color: black;
}

#contenuInfoPatientActesExamensComplementaire p{
	font-family: Times  New Roman;
	color: #065d10;
}


#contenuInfoPatientActesExamensComplementaire #labelHeureLABEL
{
line-height: 1.5em;

background-color: #ececec;

background-image: none;

background-repeat: repeat;

background-attachment: scroll;

background-position: 0% 0%;

background-clip: border-box;

background-origin: padding-box;

border-top-right-radius: 10px;

background-size: auto auto;

box-shadow: 1px 2px 2px rgba(204, 204, 204, 0.8);

color: black;

display: inline-block;

font-size: 16px;

min-width: 60px;

padding-top: 4px;

padding-right: 5px;

padding-bottom: 0px;

padding-left: 10px;

position: relative;
	
font-family: Goudy Old Style;

top: 0px;

z-index: 1;

}

#contenuInfoPatientActesExamensComplementaire #zoneChampInfo1{
    min-height: 30px;
	border: 1px solid #cccccc ;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
	margin-right: 8px;
	font-family: Iskoola Pota;
}


































/* 
 GESTION DE L'INTERFACE DE GENERATION DE REGISTRES 
 GESTION DE L'INTERFACE DE GENERATION DE REGISTRES 
 GESTION DE L'INTERFACE DE GENERATION DE REGISTRES 
*/

#generationDesRegistresDesPatientsAdmisMenuGauche .optionsPeriodeMG{
	width: 100%;
	height: 40px;
	margin-bottom: 20px;
}

#generationDesRegistresDesPatientsAdmisMenuGauche .optionsPeriodePathMG .champOP1MG, 
#generationDesRegistresDesPatientsAdmisMenuGauche .optionsPeriodePathMG .champOP2MG{
	float: left;
	width: 45%;
	height: 40px;
	margin-top: 5px;
}

#generationDesRegistresDesPatientsAdmisMenuGauche .optionsPeriodePathMG .champOP1MG{
	margin-right: -30px; 
} 

#generationDesRegistresDesPatientsAdmisMenuGauche .optionsPeriodePathMG .champOP1MG input[type='date'], 
#generationDesRegistresDesPatientsAdmisMenuGauche .optionsPeriodePathMG .champOP2MG input[type='date']{
	border: 2px solid #cccccc;
    box-shadow: 0pt 2pt 6px rgba(0, 0, 0, 0.5);
	height: 35px;
	width: 80%;
	padding-left: 10px;
	font-size: 18px;
}

#generationDesRegistresDesPatientsAdmisMenuGauche .optionsPeriodePathMG{
	width: 55%;
	height: 30px;
}

#generationDesRegistresDesPatientsAdmisMenuGauche .champOP2MG button{
	position: absolute;
	right: 70px;
	padding: 7px;
	box-shadow: 0pt 1pt 6px rgba(48, 179, 150, 0.5);
	border-radius: 20%;
	border: 1px solid #2abeb2;
	background: rgb(62, 196, 178);
	color: white;
}

#generationDesRegistresDesPatientsAdmisMenuGauche .champOP2MG button:hover{
	background: rgb(48, 156, 142);
}

#generationDesRegistresDesPatientsAdmisMenuGauche .champOP1MG img{
	position: absolute;
	left: 25px;
	box-shadow: 0pt 2pt 6px rgba(0, 0, 0, 0.5);
	border-radius: 20%;
	cursor: pointer;
}

#generationDesRegistresDesPatientsAdmisMenuGauche .zoneGenerationDesRegistresDesPatientsAdmis{
	width: 99%;
	min-height: 10px;
	border: 2px solid #cccccc;
    box-shadow: 0pt 2pt 6px rgba(0, 0, 0, 0.5);
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	max-height: 475px;
	overflow-y: auto;
}

#listePatientsAdmisPourLeRegistre th input{
	width: 100%;
	height: 30px;
}

.zoneGenerationDesRegistresDesPatientsAdmis #listeDataTable{
   visibility: hidden;  
   margin-bottom: -1000px; 
}

.zoneGenerationDesRegistresDesPatientsAdmis table{
	margin-top: -12px;
}
